/* * {
  outline: 2px solid red;
} */

:root {
  --background: #222831;
  --primary: #29a19c;
  --secondary: #51565e;
  --text: white;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 1080px;
}

body{
  margin: 0;
  background: #222831;
  padding: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@media (max-width: 600px) {
  .icon {
    display: none;
  }
  #root{
  width:125%;
}
}