@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --background: #222831;
    --primary: #29a19c;
    --secondary: #51565e;
    --text: white;
}

.fifthPage{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

.textBox{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 30px;
}

.imageBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.splitBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

}

.p{
    color: white;
    font-size: 18px;
    font-family: 'Montserrat', 'sans-serif';
    margin-left: 30px;
    width: 70%;
    line-height: 30px;
    text-align: center;
}

.bigText{
    font-family: "Grand Hotel", cursive;
    font-weight: 400;
    font-size: 118px;
    letter-spacing: 2px;
    color: white;
    width: 60%;
    height: 17vh;
    text-align: center;
    margin: 5px;
    margin-bottom: 30px;
}

.h3{
    font-family: "Grand Hotel", cursive;
    font-weight: 400;
    font-size: 48px;
    letter-spacing: 2px;
    color: white;
    text-align: center;
    margin: 5px;
}

.waveBox{
    display: flex;
    width: 100%;

    img{
        width: 100%;
    }
}


@media screen and (max-width: 600px) {
    .bigText {
        z-index: 2;
        font-size: 108px;
        width: 100%;
        margin: 5px;
        text-align: center;
        height: 100%;
    }

    .textBox{
        margin: 5px;
        height: 100%;
    }

    .imageBox {
        flex-wrap: wrap;
    }

    .customerImg{
        width: 90%;
    }

    .orderButton{
        z-index: 2;
        font-size: 22px;
        width: 65%;
        margin: 10px;
        margin-top: 40px;
    }
}