@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --background: #222831;
    --primary: #29a19c;
    --secondary: #51565e;
    --text: white;
}


.bigText{
    font-family: "Grand Hotel", cursive;
    font-weight: 400;
    font-size: 188px;
    letter-spacing: 2px;
    color: white;
    margin: 0;
    margin-left: 40px;
}

.background775{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 80vh;
}

.wave1{
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;
}

.contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40px;
    width: 30%;
}

.h2{
    font-family: 'Montserrat', 'sans-serif';
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    font-size: 38px;
    margin-left: 10px;
}

.p{
    color: white;
    font-size: 18px;
    font-family: 'Montserrat', 'sans-serif';
    margin-left: 30px;
}

.orderButton{
    width: 40%;
    background: var(--primary);
    color: white;
    border-radius: 6px;
    padding: 10px;
    border: none;
    margin-left: 10px;
    height: 6vh;
    font-size: 28px;
    cursor: pointer;
    margin-top: 25px;
}

.firstpage{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 90vh;
}

.coffe{
    position: absolute;
    right: 700px;
    top: 150px;
    transform: rotateZ(30deg);
    width: 70px
}
.coffePot{
    position: absolute;
    top: 550px;
    left: 600px;
    transform: rotateY(180deg) ;
    width: 80px;

}
.coffeBean{
    position: absolute;
    top: 350px;
    left: 900px;
    transform: rotateZ(45deg);
    width: 50px;
}

.coffeBean2{
    position: absolute;
    top: 750px;
    left: 300px;
    transform: rotateZ(-25deg);
    z-index: 2;
    width: 80px;
}