@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.bigText {
	font-family: 'Grand Hotel', cursive;
	font-weight: 400;
	font-size: 188px;
	letter-spacing: 2px;
	color: white;
	margin: 0;
	margin-left: 40px;
}

.background775 {
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 50%;
	/* height: 80vh; */
}

.wave1 {
	position: absolute;
	bottom: 0px;
	z-index: 1;
	width: 100%;
}

.contents {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 40px;
	width: 30%;
}

.h2 {
	font-family: 'Montserrat', 'sans-serif';
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	font-size: 38px;
	margin-left: 10px;
}

.p {
	color: white;
	font-size: 18px;
	font-family: 'Montserrat', 'sans-serif';
	/* margin-left: 30px; */
}

.orderButton {
	/* width: 40%; */
	background: var(--primary);
	color: white;
	border-radius: 6px;
	padding: 10px;
	border: none;
	margin-left: 10px;
	/* height: 6vh; */
	font-size: 28px;
	cursor: pointer;
	margin-top: 25px;
}

.firstpage {
	display: flex;
	flex-direction: column;
	width: 100%;
    position: relative;
	/* min-height: 90vh; */
    padding-bottom: 20rem;
}

.coffe {
	position: absolute;
	right: 45%;
	top: 20%;
	transform: rotateZ(30deg);
	width: 70px;
}
.coffePot {
	position: absolute;
	top: 70%;
	left: 40%;
	transform: rotateY(180deg);
	width: 80px;
}
.coffeBean {
	position: absolute;
	top: 45%;
	left: 55%;
	transform: rotateZ(45deg);
	width: 50px;
}

.coffeBean2 {
	position: absolute;
	top: 750px;
	left: 300px;
	transform: rotateZ(-25deg);
	z-index: 2;
	width: 80px;
}

@media screen and (max-width: 600px) {
	.bigText {
		z-index: 1;
		font-size: 80px;
	}

	.background775 {
		width: 100%;
		height: 50%;
	}

	.h2 {
		z-index: 2;
		margin: 10px;
	}

	.p {
		z-index: 2;
		width: 100%;
		font-size: 20px;
		font-weight: bold;
		margin: 5px;
		color: white;
	}

	.firstpage {
		align-items: center;
		height: auto;
	}

	.contents {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 90%;
		/* height: 40vh; */
		margin: 5px;
	}

	.orderButton {
		z-index: 2;
		font-size: 22px;
		width: 50%;
		margin: 10px;
	}

	.wave1 {
		height: 12vh;
	}
}
