@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.mainFooterContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    /* min-height: 50vh; */
    background-color: var(--primary);
}

.footerContainer{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.splitBox{
    display: flex;
    align-items: center;
    flex-direction: column;
    
    width: 33%;
    /* height: 50vh; */
}

.wave5{
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
}

.footerBar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}

.elementBar{
    display: flex;
    align-items: center;
    width: 80%;
    height: 7vh;
}

.element{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: bold;
    margin: 0px;
    /* margin-right: 25px;
    margin-left: 55px; */
    /* height: 5vh; */

    p{
        cursor: pointer;
    }
}

.socialBar{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 20%; */
    /* height: 7vh; */
}

.icons{
    margin: 20px;
    cursor: pointer;
}


.p{
    font-family: 'Montserrat', 'sans-serif';
    color: white;
}

.h3{
    font-family: 'Montserrat', 'sans-serif';
    color: white;
    font-size: 38px;
}

.logo{
    height: 7vh;
}


@media screen and (max-width: 600px) {
    .bigText {
        z-index: 2;
        font-size: 98px;
        width: 100%;
        margin: 5px;
        text-align: center;
        height: 30vh;
    }

    .splitBox{
        width: 100%;
        height: auto;
    }

    .footerContainer{
        flex-wrap: wrap;
    }

    .elementBar {
        height: auto;
        flex-wrap: wrap;

        .p{
            text-decoration: none;
            margin: 5px;
        }
    }

    .socialBar{
        height: auto;
        flex-wrap: wrap;
    }
}