@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --background: #222831;
    --primary: #29a19c;
    --secondary: #51565e;
    --text: white;
}

.mainFooterContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    min-height: 50vh;
    background-color: var(--primary);
}

.footerContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.splitBox{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 33%;
    height: 50vh;
}

.wave5{
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
}

.footerBar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}

.elementBar{
    display: flex;
    align-items: center;
    width: 80%;
    height: 7vh;
}

.element{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: bold;
    margin: 0px;
    margin-right: 25px;
    margin-left: 55px;
    height: 5vh;

    p{
        cursor: pointer;
    }
}

.socialBar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 7vh;
}

.icons{
    margin: 20px;
    cursor: pointer;
}


.p{
    font-family: 'Montserrat', 'sans-serif';
    color: white;
}

.h3{
    font-family: 'Montserrat', 'sans-serif';
    color: white;
    font-size: 38px;
}

.logo{
    height: 7vh;
}