@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.navBar{
    display: flex;
    /* width: 50%; */
    align-items: center;
    /* height: 10vh; */
    /* margin-left: 20px; */
}

.logoBar{
    display: flex;
    /* justify-content: flex-end; */
    /* width: 50%; */
    /* height: 10vh; */
}

.header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-inline: 0px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 44;
}

.logoItem {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    /* margin: 10px; */
    /* width: 40%; */
}

.navbarItem {
    text-decoration: none;
    color: white;
    margin: 10px;
    /* width: 15%; */
    transition: color 0.3s ease, background-color 0.3s ease; /* Smooth transition */
  
    &:hover {
      color: #3498db; /* Change color on hover */
    }
  
    .navbarText {
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 1.5rem; /* Using relative units for better responsiveness */
      margin: 0;
      color: white; /* Set text color */
      transition: color 0.3s ease; /* Smooth transition for text color changes */
  
      &:hover {
        color: #3498db; /* Change color on hover */
      }
    }
  }
  
    
  



.hamburger {
    display: none;
}

/* Add this CSS to show/hide content based on the 'show' class */
@media (max-width: 600px) {
    .navBar {
      display: none;
    }
  
    .show .navBar {
      display: flex;
    }
  
    .logoBar {
      display: none;
    }
  
    .hamburger {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      z-index: 2;
      position: absolute;
      left: 0;
      top: 0;
      background: var(--background);
    }
  
    .navbarItem {
      border-bottom: 1px solid var(--text);
      width: 100%;
      margin: 0;
      padding: 15px;
      transition: background-color 0.3s ease-in-out;
      background-color: var(--secondary);
    }
  
    .navbarItem:hover {
      background-color: var(--primary);
    }

    .header{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-inline: 40px;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 44;
    }
  }
  
  
